*{
    color: #333; /* Dark gray text */ ;
    
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    width: 200px;
    height: 100px;
    padding: 5px;


    
}
body{
    background-color: aqua;
    background-color: #f0f0f0; /* Light gray background */
    background-image: url('.jpg');
    background-size: cover;

}
